<?xml version="1.0" encoding="UTF-8"?>
 
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
 
  <profiles>
 
   <profile>
     <id>rh-deploy</id>
     <repositories>
         <repository>
             <id>jboss-maven-repository</id>
             <name>JBoss Maven Repository</name>
             <url>http://maven.repository.redhat.com/ga/</url>
             <layout>default</layout>
             <releases>
                 <enabled>true</enabled>
                 <updatePolicy>never</updatePolicy>
             </releases>
             <snapshots>
                 <enabled>false</enabled>
                 <updatePolicy>never</updatePolicy>
             </snapshots>
         </repository>
     </repositories>
   </profile>
  </profiles>

  <activeProfiles>
    <activeProfile>rh-deploy</activeProfile>
  </activeProfiles>


</settings>
